/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Open Sans', sans-serif;
}

nav li {
    list-style-type: none;
}

img.logo {
    height: 50px;
}

.okayest{
    font-style: italic;
    font-size: 15px;
    color: rgb(255, 123, 0)
}