/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    /* margin: 20px; */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: right;
    z-index: 2;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bolder;
}

li {
    margin: 0px 20px 40px 0px;
}

img.logo {
    /* margin: 0px; */
    height: 50px;
    width: auto;
}

.okayest{
    font-style: italic;
    font-size: 15px;
    color: rgb(255, 123, 0);
    margin-top: -10px;
}

.eventArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventListings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.eventName {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favoriteItem {
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.purchaseTickets {
    margin-top: -10px;
}

.colorSolid {
    color: rgb(66, 65, 65);;
}

.colorChange {
    color: #396CB4;
}

i.fas.fa-star.colorSolid, i.fas.fa-star.colorChange {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #396CB4;
}

a:hover {
    color: rgb(255, 123, 0); 
}

p, h3, h4 {
    max-width: 400px;
}

button {
    padding: 12px;
    background-color: #396CB4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.navImage{
    width: 100%;
    height: 315px;
    position: absolute;
    z-index: -10;
    margin: 0;
    padding: 0;
    filter: brightness(40%);
}
*{
    margin: 0;
}

@media only screen and (min-width: 768px) {
    *{
        margin: 0;
    }
    body{
        margin: 0;
    }
    .navImage{
        width: 100%;
        height: 200px;
        position: absolute;
        z-index: -10;
        margin: 0;
        padding: 0;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: -webkit-sticky; 
        position: sticky;
        top: 0px;
    }

    .eventArea {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    .eventListings {
        padding: 10px;
    }

    img.logo {
        margin-left: 20px;
        margin-top: 5px;
    }
    .okayest {
        margin-left: 20px;
    }
    ul {
        margin-top: 20px;
    }
}