body{
    margin: 20px;
}
.navImage{
    visibility: hidden;
}

.eventDetail {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    margin: 50px 20px 0px 20px;
}
.eventDetailItems{
    margin-top: 20px;
}

img {
    width: 450px;
}

h2 {
    color: #000000;
}

button {
    padding: 10px;
    margin-bottom: 20px;
}

.purchase {
    display: flex;
    margin-top: 30px;
}

.favoriteItem {
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 25px;
    margin-bottom: -20px;
}

.navImage{
    height: 50%;
}

@media only screen and (min-width: 768px) {
    .eventDetail {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 100px;
    }
    
    .seatChart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seatImage {
        width: 60vw; 
    }

    .eventImage {
        max-height: 300px;
        width: 100%;
        position: -webkit-sticky; 
        position: sticky;
        top: 190px;
        margin-left: 20px;
    }

    .seatTitle {
        /* text-align: center; */
        margin-top: 50px;
    }

    .eventDetailItems {
        margin-left: 20px;
    }


}