.eventDetail {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
}

img {
    width: 450px;
}

h2 {
    color: #396CB4;
}

button {
    padding: 10px;
}

.purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.favoriteItem {
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

@media only screen and (min-width: 768px) {
    .eventDetail {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .seatChart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seatImage {
        width: 60vw; 
    }

    img {
        width: 40vw;
    }

    .seatTitle {
        text-align: center;
        margin-top: 50px;
    }

    .eventDetailItems {
        margin-left: 20px;
    }
}