<div class="eventDetail">
    <div class="eventDetailItems">
        <h2>{{event.name}}</h2>
        <p>Date: {{event.dates.start.localDate}}</p>
        <p *ngIf="event.priceRanges">Price Range: ${{event.priceRanges[0].min}} - ${{event.priceRanges[0].max}}</p>
        <button class="favoriteItem" (click)="toggleFavorite(event)"><i class="fas fa-star" [ngClass]="event.isFavorite? 'colorChange' : 'colorSolid'"></i></button>
        <div class="purchase">
            <a href={{event.url}}><button>Purchase Tickets</button></a>
        </div>
        <h2 class="seatTitle">Seating Chart</h2>
        <div class="seatChart">
            <img class="seatImage" src={{event.seatmap.staticUrl}}>
        </div>
    </div>
    <img class="eventImage" src={{event.images[7].url}}/>
</div>
