<div class="eventDetail">
    <div class="eventDetailItems">
        <p>Date: {{event.dates.start.localDate}}</p>
    <div class="eventDetailListings" >
        <h2 class ="event-name">{{event.name}}</h2>
        <a href={{event.url}}><h4 class="purchaseTickets">Purchase Tickets</h4></a>
        <img src={{event.images[7].url}}/>
        <p class="date">Date: {{event.dates.start.localDate}}</p>
        <p *ngIf="event.priceRanges">Price Range: ${{event.priceRanges[0].min}} - ${{event.priceRanges[0].max}}</p>
        <button class="favoriteItem" (click)="toggleFavorite(event)"><i class="fas fa-star" [ngClass]="event.isFavorite? 'colorChange' : 'colorSolid'"></i></button>
    </div>
        <img src={{event.images[7].url}}/>
</div>
<h2 class="seatTitle">Seating Chart</h2>
<div class="seatChart">
    <img class="seatImage" src={{event.seatmap.staticUrl}}>
</div>
<div class="purchase">
    <a href={{event.url}}><button>Purchase Tickets</button></a>
</div>
        <!-- <p *ngIf="event.seatmap.staticUrl"> <a href="{{event.seatmap.staticUrl}}">View Seating Chart</a></p> -->
