<div class="eventArea">
    <div class="eventListings" *ngFor="let event of favoriteList; let i = index">
        <img src={{event.images[7].url}}/>
        <div class="eventName">
            <a routerLink='/event-detail/{{event.id}}'><h3>{{event.name}}</h3></a>
            <button class="favoriteItem" (click)="toggleFavorite(event)"><i class="fas fa-star" [ngClass]="event.isFavorite? 'colorChange' : 'colorSolid'"></i></button>
        </div>
        <a href={{event.url}}><button>Purchase Tickets</button></a>
        <!-- event-details pass through the id. router link. Set up route, and use id as the path parameter -->
  </div>
  </div>
  