<app-search-criteria (search)="keywordSearch($event)"></app-search-criteria>
<div class="eventArea">
    <div class="eventListings" *ngFor="let events of event; let i = index;">
        <img src={{events.images[7].url}}/>
        <div class="eventName">
            <div class="eventDetails">
            <a routerLink='/event-detail/{{events.id}}'><h3>{{events.name}}</h3></a>
            <p class="date">Date: {{events.dates.start.localDate}}</p>
            </div>
            <button class="favoriteItem" (click)="toggleFavorite(events)"><i class="fas fa-star" [ngClass]="events.isFavorite? 'colorChange' : 'colorSolid'"></i></button>
        </div>
        <a href={{events.url}}><button>Purchase Tickets</button></a>
        <!-- <a href={{events.url}}><h4 class="purchaseTickets">Purchase Tickets</h4></a> -->
        <!-- <a routerLink='/event-detail/{{events.id}}' >click this for event detail </a> -->
        <!-- event-details pass through the id. router link. Set up route, and use id as the path parameter -->
  </div>
  </div>